<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title_head %}
            Template Base
            {% endblock title_head %}
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

        <!-- Core theme CSS (includes Bootstrap)-->
         {% block link_stylesheet_head %}
         <link href={% static "css/styles.css"%} rel="stylesheet" />
         {% endblock link_stylesheet_head %}

    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href={% url "inicio" %}>Inicio</a>
                <a class="navbar-brand" href={% url "crear_libro" %}>Crear libro</a>
                <a class="navbar-brand" href={% url "buscar_libro" %}>Buscar libro</a> 
                <a class="navbar-brand" href={% url "about_me" %}>About me</a>
                {% comment %} <a class="btn btn-primary" href="#signup">Sign Up</a> {% endcomment %}
            </div>
        </nav>
        <!-- Masthead-->
         {% block header %}
         <header class="masthead">
             <div class="container position-relative">
                 <div class="row justify-content-center">
                     <div class="col-xl-6">
                         <div class="text-center text-white">
                             <!-- Page heading-->
                             <h1 class="mb-5">
                             {% block h1_header %}Soy el base{% endblock h1_header %}
                             </h1>
                             
         </header>
         {% endblock header %}
         <main>
            {% block main %}{% endblock main %}
         </main>
        